body{
    background-color: rgba(239,182,77,255);
    color: black;
}
.menu{
    position: absolute;
    height: 40px;
    width: 40px;
    top: 2%;
    left: 4%;
}
.acc{
    position: absolute;
    height: 40px;
    width: 40px;
    top: 2%;
    left: 20%;
}
.cart{
    position: absolute;
    height: 40px;
    width: 40px;
    top: 2%;
    left: 38%;
}
.search{
    position: absolute;
    background-color: rgb(198,136,22);
    color: white;
    width: 200px;
    height: 40px;
    border-radius: 50px;
    margin-left: 450px;
    margin-top: 3px;
    text-align: center;
    font-weight: 1000;
    padding-top: 10px;
    padding-right: 130px;
}
.searchicon{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 2.5%;
    left: 57.5%;
}
.bg1{
    position: absolute;
    top: 13%;
    right: 5%;
    height: 340px;
    width: 350px;
    border-radius: 10%;
    background-color: rgba(200,52,52,255) ;
}
.img1{
    position: absolute;
    height: 250px;
    width: 250px;
    top: 15%;
    left: 15%;
}
.bg2{
    position: absolute;
    top: 63%;
    left: 5%;
    height: 340px;
    width: 350px;
    border-radius: 10%;
    background-color: rgb(200,52,52) ;
}
.img2{
    position: absolute;
    height: 250px;
    width: 250px;
    top: 12%;
    left: 12%;
}
.bg3{
    position: absolute;
    top: 118%;
    right: 5%;
    height: 340px;
    width: 350px;
    border-radius: 10%;
    background-color: rgba(200,52,52,255) ;
}
.img3{
    position: absolute;
    height: 250px;
    width: 250px;
    top: 15%;
    left: 15%;
}
.bg4{
    position: absolute;
    top: 168%;
    left: 5%;
    height: 340px;
    width: 350px;
    border-radius: 10%;
    background-color: rgb(200,52,52) ;
}
.img4{
    position: absolute;
    height: 250px;
    width: 250px;
    top: 12%;
    left: 12%;
}
.addcart1{
    position: absolute;
    height: 35px;
    width: 45px;
    top: 85%;
    left: 5%;
}
.addcart2{
    position: absolute;
    height: 35px;
    width: 45px;
    top: 85%;
    right: 5%;
}
.desc1bg{
    position: absolute;
    height: 170px;
    width: 280px;
    border-radius: 10%;
    background-color: rgb(255,206,15);
    top: 15%;
    left: 5%;
}
.desc11{
    color: rgba(200,52,52,255);
    font-family: "Rubik Mono One";
    font-size: 45px;
    letter-spacing: 2%;
    text-align: center;
}
.c1{
    position: absolute;
    height: 120x;
    width: 170px;
    top: 75%;
    left: 31%;
    rotate: 5deg;
}
.cc1{
    position: absolute;
    width: 219px;
    rotate: 8deg;
    top: 94%;
    left: 2.5%;
    letter-spacing: 7px;
    padding: 20px;
}
.ccc1{
    color: rgb(255,206,15);
    background-color: rgb(200,52,52);
    text-align: center;
    font-family: "Rubik Moonrocks";
    font-size: 45px;
    padding: 8px;
}
.desc2bg{
    position: absolute;
    height: 170px;
    width: 280px;
    border-radius: 10%;
    background-color: rgb(255,206,15);
    top: 65%;
    right: 5%;
}
.desc22{
    color: rgba(200,52,52,255);
    font-family: "Rubik Mono One";
    font-size: 45px;
    letter-spacing: 2%;
    text-align: center;
}
.c2{
    position: absolute;
    height: 120x;
    width: 170px;
    top: 75%;
    left: 31%;
    rotate: 5deg;
}
.cc2{
    position: absolute;
    width: 219px;
    rotate: 8deg;
    top: 94%;
    left: 2.5%;
    letter-spacing: 7px;
    padding: 20px;
}
.ccc2{
    color: rgb(255,206,15);
    background-color: rgb(200,52,52);
    text-align: center;
    font-family: "Rubik Moonrocks";
    font-size: 45px;
    padding: 8px;
}
.a1{
    top: 120%;
}
.a2{
    top: 170%;
}
.footer{
    position: absolute;
    width: auto;
    height: 50px;
    background-color: rgba(239,182,77,255);
    top: 225%;
}
.c3{
    position: absolute;
    height: 70px;
    width: 70px;
}
.c4{
    position: relative;
    height: 60px;
    width: 60px;
    left: 155%;
}
.c5{
    position: relative;
    height: 60px;
    width: 60px;
    left: 175%;
}
.c6{
    position: relative;
    height: 60px;
    width: 60px;
    left: 195%;
}
